# compiled python files
*.pyc

# Build folders and files
*egg-info*
voiceAtis/build
voiceAtis/dist
release*.bat
uninstall.bat
install*.bat
voiceAtis/voiceAtis_compile.bat

# Eclipse project files
.project
.pydevproject
.settings/

# test file
*test.py

# archive folder
/archive

# Generated folders
voiceAtis/tmp

# generated airport file
airports.info
airports_add.info

# ini file.
voiceAtis/voiceAtis.ini

# python-metar folder
/python-metar

# log folder
*logs/

# Files loaded from IVAO
*whazzup.txt.gz
*whazzup_metar.txt
